body {
    background-color: #FFF8E7; /* Светло-кремовый фон для мягкости */
    color: #4B515D; /* Темно-серый текст для контраста */
    font-family: 'Arial', sans-serif;
    padding-top: 70px; /* Отступ для фиксированной шапки */
}

.navbar {
    background-color: #FFD700; /* Золотой цвет для солнечного настроения */
    position: fixed; /* Фиксируем шапку */
    top: 0; /* Позиционируем её в верхней части */
    width: 100%; /* Растягиваем на всю ширину экрана */
    z-index: 1000; /* Высокий z-index для отображения поверх остальных элементов */
}

.navbar-brand, .nav-link {
    color: #4B515D !important; /* Темно-серый для контраста */
    font-weight: bold; /* Более заметный текст */
}

.navbar-link:hover {
    color: #FF4500 !important; /* Яркий акцент при наведении */
}

.card {
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: transform 0.3s; /* Эффект увеличения при наведении */
}

.card:hover {
    transform: scale(1.05); /* Легкое увеличение карточки */
}

.card-title {
    color: #FF69B4; /* Ярко-розовый для акцента */
    font-weight: bold;
}

.card-text {
    color: #4B515D; /* Темно-серый */
}

.card-img-top {
    max-height: 250px; /* Устанавливаем максимальную высоту */
    height: 250px; /* Задаем фиксированную высоту */
    width: 100%; /* Ширина всегда 100% */
    object-fit: contain; /* Вписываем изображение, сохраняя пропорции */
    background-color: #f8f9fa; /* Светло-серый фон для контраста */
    border-radius: 8px; /* Добавляем скругление углов для эстетики */
}

footer {
    background-color: #98FB98; /* Нежно-зеленый */
    color: #4B515D; /* Контрастный серый текст */
    padding: 2px 0;
    text-align: center; /* Центрируем текст */
    position: fixed; /* Фиксируем футер */
    bottom: 0; /* Устанавливаем его у нижней границы */
    width: 100%; /* Растягиваем на всю ширину окна */
    z-index: 10; /* Поверх содержимого */
}

footer a {
    color: #FF4500; /* Ярко-оранжевый акцент */
    text-decoration: none;
}

footer a:hover {
    color: #FFD700; /* Золотой при наведении */
}

.btn-primary {
    background-color: #28a745; /* Зеленый */
    color: #ffffff;
    border: none;
}

.btn-primary:hover {
    background-color: #218838; /* Более насыщенный зеленый при наведении */
}

h1, h2, h3 {
    color: #4B515D; /* Единый стиль для заголовков */
}

p {
    color: #4B515D; /* Единый стиль для текста */
}

button {
    background-color: #FF4500; /* Оранжевый цвет */
    color: #FFFFFF; /* Белый текст */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF6347; /* Более светлый оттенок оранжевого */
}

.product-detail-img {
    max-width: 90%; /* Уменьшена ширина */
    max-height: 500px; /* Уменьшена максимальная высота */
    object-fit: contain; /* Вписываем изображение, сохраняя пропорции */
    margin: 0 auto; /* Центрируем изображение */
    display: block; /* Убираем лишние отступы */
    border-radius: 50px; /* Лёгкое скругление углов для эстетики */
}

