{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Авторизация</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="bg-light p-4 rounded shadow-sm">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Имя пользователя:</label>
                    <input type="text" name="username" class="form-control" id="id_username" required>
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Пароль:</label>
                    <input type="password" name="password" class="form-control" id="id_password" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
