{% extends "base.html" %}
{% load static %}

{% block title %}Привязка Telegram-аккаунта{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h2 class="mb-4">Привязка Telegram-аккаунта</h2>
    <p>Для привязки вашего аккаунта к нашему Telegram-боту, выполните следующие шаги:</p>
    <ol class="list-unstyled">
        <li>1. Откройте приложение Telegram на вашем устройстве.</li>
        <li>2. Перейдите по следующей ссылке: <a href="{{ bot_url }}" target="_blank">{{ bot_url }}</a>.</li>
        <li>3. Введите команду: <code>/link {{ username }}</code>.</li> <!-- Исправлено для отображения имени пользователя -->
    </ol>
    <p>Вы также можете воспользоваться QR-кодом:</p>
    <div class="d-flex justify-content-center mt-4">
        <img src="{% static 'images/telegram_bot.png' %}" alt="QR Code для Telegram-бота" width="250" height="250"> <!-- Задаем размер -->
    </div>
    <div class="mt-5">
        <a href="{% url 'catalog:home' %}" class="btn btn-primary">Перейти к каталогу</a>
    </div>
</div>
{% endblock %}
