{% extends "base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Кнопка возврата в каталог -->
    <a href="{% url 'catalog:home' %}" class="btn btn-secondary mb-4">← Назад в каталог</a>

    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid product-detail-img" alt="{{ product.name }}">
            {% else %}
            <img src="/media/products/placeholder.jpg" class="img-fluid product-detail-img" alt="No Image Available">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p class="text-success"><strong>{{ product.price }} ₽</strong></p>
            <a href="#" class="btn btn-primary">Добавить в корзину</a>
        </div>
    </div>
</div>
{% endblock %}
